:root {
    --header-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header .title {
    height: var(--header-height);
    background-color: bisque;
}

.previewer {
    position: absolute;
    background-color: blue;
    max-width: 0;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    transition: max-width 0.2s ease-out;
}

.viewer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}