:root {
    --header-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    background-color: bisque;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header .title {
    text-align: center;
    margin-left: 20px;
    font-size: 1rem;
}

#ham-icon {
    width: 32px;
    margin-left: 20px;
}

.previewer {
    position: absolute;
    background-color: rgb(240, 240, 240);
    max-width: 0;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    overflow: hidden;
    transition: max-width 0.2s ease-out;
    overflow-y: scroll;
}

.prev-card {
    padding: 8% 8% 0px 8%;
    display: flex;
    flex-direction: column;
}

.prev-card img {
    width: 100%;
    border-radius: 3px;
}

.prev-card img:hover {
    transform: scale(1.05);
}

.prev-card p {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4px;
}

.viewer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.viewer img {
    object-fit: contain;
}

.img-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-anchor {
    height: var(--header-height);
    position: absolute;
    top: calc(var(--header-height) * -1);
}

#viewport {
    position: absolute;
    height: calc(100vh - var(--header-height));
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black; 
    text-decoration:none; 
}