:root {
    font-size: 16px;
    font-family:Helvetica, Arial, sans-serif;

    --bg-color: #e3e3e3;
    --previewer-bg-color: #2d2b2e;
    --icon-color: #7c848a;
    --scroll-width: 0.25rem;
}

/* 7c848a */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--bg-color);
}

.previewer {
    background-color: var(--previewer-bg-color);
    width: 0;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    transition: 0.3s ease;
    overflow-x: hidden;
}

.prev-container {
    margin: 0.6rem calc(0.6rem - var(--scroll-width)) 0.6rem 0.6rem;
}

.prev-card {
    padding: 0.25rem;
    position: relative;
}

.prev-link {
    display: flex;
}

.prev-card img {
    width: 6.3rem;
    border-radius: .25rem;
}

.active-prev {
    width: 6.8rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.45rem;
}


.gallery {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    height: 2.5rem;
    background-color: #f9f9f9c7;
    padding: 0.5rem;
    backdrop-filter: blur(8px);
    border-radius: 0.5rem;
}

.gallery img {
    height: 1.5rem;
}



body::-webkit-scrollbar, .previewer::-webkit-scrollbar {
    width: var(--scroll-width);
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--scroll-width);
}

.previewer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: var(--scroll-width);
}